/* colours */
:root{
  --primary: #101820FF;
  --secondary: #FEE705FF;
  --title: crimson;
}

/* layout styles */
nav{
  background: var(--primary);
  border-bottom: 10px solid var(--secondary);
}
nav a{
  text-transform: uppercase;
  color: var(--title);
}
nav a span{
  font-weight: bold;
}
nav .sidenav-trigger{
  margin: 0;
}

/* recipe styles */
.recipes{
  margin-top: 20px;
}
.card-panel.recipe{
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0px 1px 3px rgba(90,90,90,0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.recipe-details{
  flex: 1
}
.recipe-delete{
  display: flex;
  align-items: center;
  cursor: pointer;
}
.recipe-delete i{
  font-size: 18px;
}
.recipe-title{
  font-weight: bold;
}
.recipe-ingredients{
  font-size: 0.8em;
}

/* form-styles */
.add-btn{
  background: var(--title) !important;
}
input{
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}
.side-form button{
  background: var(--title);
  box-shadow: 1px 1px 3px rgba(90,90,90,0.2);
}
form .input-field{
  margin-top: 30px;
}